body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
    background-color: #78bad0;
    color: #232423;
    padding: 100px 25px;
    font-family: Lato, sans-serif;
    margin-bottom:0;
    border-bottom:3px solid black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  width: 30%;
  height: 360px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: #f1f1f1;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
  text-align:right;
}

.InfoTable{
    width:95%;
}

.InfoTable td{
    padding:2px;
    margin:2px;
}

.InfoTable tr:nth-child(odd){
    background:#343434;
}

.InfoTable tr:last-of-type{
    border-bottom:2px solid #8a8a8a;
}

.InfoTable tr:hover{
 color:#fcfcfc;
}

.InfoTable tr th{
    background:#8a8a8a;
    padding:2px;
    color:#232323;
}

/* Style the tab content */
.tabcontent {

  float: left;
  padding: 0px 12px;

  width: 70%;

  height: 360px;
 overflow-y: auto;
}

  .one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

  .headbg{
      background:white;
  }

  .slider2 .slide img{
      opacity:0.5;
  }

 .slider2 .slick-current  {
      color: black;
      font-weight:bold;
  }

  .slider2 .slick-current img  {
      opacity:1;
    filter: drop-shadow(0 6px 5px rgba(0,0,0,.4));
  }

  .resourceDetails{
      background:white;
      width:100%;
      padding:5px;
  }

  .biogasBrand{
      background-color:#2e7e56!important;
  }

  .coalBrand{
      background-color:#f15c54!important;
  }

  .oilgasBrand{
      background-color:#464379!important;
  }

    .steeringBrand{
      background-color:#fbb040!important;
  }

  .coalsector {
            background: url(../img/coalbg.jpg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }
          .biogassector {
            background: url(../img/biogasbg.jpg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }
          .oilgassector {
            background: url(../img/oilgasbg.jpg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }


        @media screen and (max-width: 992px) {
  .coalsector {
            background: white;
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }
          .biogassector {
            background: white;
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }
          .oilgassector {
            background: white;
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }
        }

            .steeringsector {
            background: url(../img/steeringbg.jpg);
            background-color: white;
            background-repeat: no-repeat;
            background-position: right;
        }

        .slider2 .slide {
            width: 175px !important;
            text-align: center;
            padding: auto;
            margin-left: auto;
            margin-right: auto;
        }


            .slider2 .slide img {
                border: 1px solid black;
                max-height: 200px;
                width: auto;
                padding: auto;
                margin-left: auto;
                margin-right: auto;
            }


  #translatearea{
    text-align:right;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
    color: #f4511e;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: white;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #3092c0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    text-transform: capitalize;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #2980b9!important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

.bgvid {
    filter: blur(15px);
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: auto;

  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
  }

  #gmcpromo{
    background:url(../img/gmcback.gif)no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height:60px;
    padding-top:0;
    padding-bottom:0;
    font-size:24px;
    text-align:left;
 white-space: nowrap ;
    color:#232323;
    text-decoration: none;
  }
          @media screen and (max-width: 992px) {

            #gmcpromo {
                    font-size:16px;
            }
        }

  #gmcpromo:hover{
    text-decoration: none;
  }
.gmcpromolink{
  text-decoration: none;
}
.gmcpromolink:hover{
  text-decoration: none;
}

.youtubecard {
  width: 100%;
padding-top: 56.25%;
  background: url("../img/ytdefault.png") no-repeat;
  background-size: contain;
  display: inline-block;
}
.youtubecard:hover {
  background: url("../img/ythover.png") no-repeat;
  background-size: contain;
}
  #gmcpromo img{
    width:200px;
    padding-top:5px;
    padding-bottom:5px;
 float:left;
 margin-right:40px;
  }

      .mobileshow{
        display:none;
    }

#gmcpromo span {display:none}
#gmcpromo:hover span{display:inline;}

  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .gmcpromotag{
        display:none;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }

    .biogassector, .coalsector, .oilgassector{
        background:white!important;
    }
    .mobilehide{
        display:none;
    }
    .mobileshow{
        display:block;
    }
    .jumbotron .container{
        padding-left:0;
        padding-right:0;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  p span{
      font-weight:bold;
      color:#273c75;
  }
  h5{
      font-size:17px;
      font-weight:bold;
      color:#273c75;
  }
  .benefitsTable{
      width:100%;
      color:black;
  }

  .benefitsTable div .fas{
      color:#e67e22;
      margin:10px;
  }

  .swal-overlay {
  background-color: rgba(43, 96, 165, 0.45);
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color:#337ab7;
    border:#225683;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fcfcfc;
}

  .mattersSection{
    background: #4997db; /* Old browsers */
background: -moz-linear-gradient(top, #4997db 15%, #337ab7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#4997db 15%, #337ab7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4997db 15%, #337ab7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4997db', endColorstr='#337ab7',GradientType=0 ); /* IE6-9 */
color:#efefef;
  }

    .biogasmattersSection{
    background: #2e7e56; /* Old browsers */
background: -moz-linear-gradient(top, #2e7e56 15%, #3ca370 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#2e7e56 15%, #3ca370 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2e7e56 15%, #3ca370 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7e56', endColorstr='#3ca370',GradientType=0 ); /* IE6-9 */
color:#efefef;
  }

    .biogasmattersSection h5{
        color:#1a4630;
    }

    .coalmattersSection{
    background: #f15c54; /* Old browsers */
background: -moz-linear-gradient(top, #f15c54 15%, #ed2f25 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#f15c54 15%, #ed2f25 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f15c54 15%, #ed2f25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15c54', endColorstr='#ed2f25',GradientType=0 ); /* IE6-9 */
color:#efefef;
  }

    .coalmattersSection h5{
        color:#8b0000;
    }

    .oilgasmattersSection{
    background: #464379; /* Old browsers */
background: -moz-linear-gradient(top, #5c589f 15%, #464379 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#5c589f 15%, #464379 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #5c589f 15%, #464379 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c589f', endColorstr='#464379',GradientType=0 ); /* IE6-9 */
color:#efefef;
  }

    .oilgasmattersSection h5{
        color:#1a192d;
    }

    .steeringmattersSection{
    background: #464379; /* Old browsers */
background: -moz-linear-gradient(top, #fcc066 15%, #fa9806 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#fcc066 15%, #fa9806 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcc066 15%, #fa9806 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc066', endColorstr='#fa9806',GradientType=0 ); /* IE6-9 */
color:#efefef;
  }

    .steeringmattersSection h5{
        color:#885203;
    }

  .aboutSection{
    background: #faedda; /* Old browsers */
background: -moz-linear-gradient(top, #faedda 15%, #fefefc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #faedda 15%,#fefefc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #faedda 15%,#fefefc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faedda', endColorstr='#fefefc',GradientType=0 ); /* IE6-9 */
  }

    .ogToolSection{
background: rgb(164,202,255);
background: -moz-linear-gradient(180deg, rgba(164,202,255,1) 0%, rgba(148,192,212,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(164,202,255,1) 0%, rgba(148,192,212,1) 100%);
background: linear-gradient(180deg, rgba(164,202,255,1) 0%, rgba(148,192,212,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4caff",endColorstr="#94c0d4",GradientType=1);
color:#242424;
  }
.ogToolSection a{
    color:black;
    text-decoration:underline;
}



  
  .sectorSection{
    background: #84d5f6; /* Old browsers */
background: -moz-linear-gradient(top, #84d5f6 14%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #84d5f6 14%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #84d5f6 14%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84d5f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  footer{
      background-image:url("../img/footerbg.png");
  }

  footer a{
      color:white;
    -o-transition:color .6s ease-out, background 1s ease-in;
  -ms-transition:color .6s ease-out, background 1s ease-in;
  -moz-transition:color .6s ease-out, background 1s ease-in;
  -webkit-transition:color .6s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .6s ease-out, background 1s ease-in;
  }

  footer a:hover{
      color:#aaa;
  }
  body{
      background:#57606f;
  }

  .smIcons i{
      margin:10px;
  }

  .sectorrow{
    margin-bottom:5px;
    color:white;

  }

  .sectorrow h5{
    font-size:2rem;
    font-weight:bold;
}
#theModal{
top:120px;

}

.featureBox{
  color: #232323;
  border-radius:8px;
  padding: 6px;
  /*-webkit-box-shadow: 0px 6px 28px 0px rgba(51,51,51,0.2);
   /*-moz-box-shadow: 0px 6px 28px 0px rgba(51,51,51,0.2);
   /*box-shadow: 0px 6px 28px 0px rgba(51,51,51,0.2); */
}

.eventDetails{
  color:#232323;
  padding:6px;
  font-size:smaller;
  background:#fcfcfc;
  padding-left:20px;
}

.featureBox hr{
  margin-top:8px;
  margin-bottom:2px;
  border-color:#242424;
}
.sectorlink:hover{
text-decoration: none;
}
.sectorimage{
    float:left;
    width:200px;
    margin-right: 15px;
}

  @media screen and (max-width: 768px) {
.sectorimage{
    width:100%!important;
}
.mobihide{
    display:none;
}
  }
.sectorrow h5{
    font-size:2rem;
    font-weight:bold;
    color:white;
    text-align:center;

}
.sectorText{
    margin:4px;
    line-height: 130%;
    padding:5px;
}
.oilgas{
    background-color:#464379;
}

.coal{
    background-color:#f15c54;
}

.biogas{
    background-color:#2e7e56;
}

.steering{
    background-color:#232323;
}

.dashed{
    border-bottom: 2px dashed white;
}

.infoemp{
    color:#262262;
    font-weight:bold;
}
.greybox{
            background:grey;
            color:white;
            text-align:center;
        }
        .greybox td{
            padding:5px;
        }

        .nodeal td:not(:last-child){
            border-right:1px dashed white;
        }

.sourcelabel{
    padding-left:10px;
    font-size: 1.8rem;
    color:black;
}

.sectorheadingtop{
    margin-top:0;
    margin-bottom:10px;
}
.sectorheadingbottom{
    margin-top:10px;
    margin-bottom:10px;
}
.logoimg{
    max-width:50%;

}

.mlist li {
  display:inline;
  margin-right:10px;
}
.owl-carousel{
    background:#3092c0;
}

.owl-carousel .item{
    height:150px;
    background-color:rgba(0,0,0,0.5);
    text-align:center;
    color:white;
}

.alttab{
    background:#3c6382;
    color:white;

}
.alt{
    background:#2d98da;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

#smalllogo{
    display:none;
}

.dropdown-submenu{ position: relative; }
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 0 5px;
  border-left-color:#cccccc;
  margin-top:5px;margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
  border-left-color:#555;
}
.dropdown-submenu.pull-left{ float: none; }
.dropdown-submenu.pull-left>.dropdown-menu{
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-menu{
    background-color:#57606f;
    width:400px;
}

.dropdown-menu .divider{
    margin:0 0 0 0!important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
 background-color:#353b44;
 
}

.dropdown-menu .wide{
  width:400px;
}

.dropdown-menu li a{
  white-space: normal!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background:#337ab7;
}

/*
@media (min-width: 768px) { 
}
@media (min-width: 992px) { 
}
@media (min-width: 1200px) { 
}
*/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  #myVideo {
    display: none;
  }
}

