<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="M2M_Redesign.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GMI_devConnectionString" connectionString="Data Source=Server=tcp:tt704sql-gmi-prod.database.windows.net,1433;Initial Catalog=tt704sqldb-gmi-prod;Persist Security Info=False;User ID=DevAdminLog;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Password=Gl0balM3than3" Authentication="Active Directory Integrated;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="GMIdatabase" value="Data Source=.\KJSQLSERVER;Initial Catalog=GMIPROD;Integrated Security=True"/>-->
    <!--<add key="GMIdatabase" value="Data Source=10.5.15.185,1436;Initial Catalog=GMISTAGE;User ID=emi.svc.gmisite;Password=spout31chARy19scRap;Integrated Security=True" />-->
    <!--<add key="GMIdatabase" value="Data Source=10.5.34.11,61435;Initial Catalog=GMIPROD;User ID=emi.svc.gmisite;Password=spout31chARy19scRap;Integrated Security=True" />-->
    <add key="GMIdatabase" value="Data Source=tt704sql-gmi-prod.database.windows.net,1433;Initial Catalog=tt704sqldb-gmi-prod;User ID=DevAdminLog;Password=Gl0balM3than3;Integrated Security=False"/>
    <add key="SforceService" value="On"/>
    <add key="SupportEmail" value="kristen.jenkins@tetratech.com"/>
    <add key="SystemEmail" value="kristen.jenkins@tetratech.com"/>
    <add key="SMTPServer" value="etss704hcmsmtp1"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="etss704hcmsmtp1"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors defaultRedirect="error.aspx" mode="On">
      <error statusCode="403" redirect="error.aspx?code=403"/>
      <error statusCode="404" redirect="error.aspx?code=404"/>
    </customErrors>
    <compilation defaultLanguage="vb" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Utilities.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Tasks.v4.0, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <trace enabled="true" pageOutput="true"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <httpRuntime maxRequestLength="9200" executionTimeout="110" requestValidationMode="2.0"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US"/>
    <machineKey validationKey="BF1D4AF8A45F0DEFE4EB52FFBF09B2ECF5CBDEB0BF207813256460060EBBDF4FBB8FDC01618D72260047BCD3E0FB0E9A524106E8FF02B35F1F1B94D223A53B40" decryptionKey="D69E15413406879371DB5EBB98888593D84BA8E074A69131" validation="3DES"/>
    <pages viewStateEncryptionMode="Always" clientIDMode="Static">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <!--<pages enableViewState="true" enableViewStateMac="true" viewStateEncryptionMode="Always"/>-->
    <!--<trace enabled="true" requestLimit="1000" pageOutput="true" traceMode="SortByTime" localOnly="true"/>-->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="540"/>
  </system.web>
  <system.webServer>
    
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security"
              pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly">
      <clear/>
      <error statusCode="400" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="401" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="403" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="404" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="405" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="406" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="412" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="500" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="501" responseMode="Redirect" path="/error.aspx"/>
      <error statusCode="502" responseMode="Redirect" path="/error.aspx"/>

    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="strict-origin"/>
        <add name="Permissions-Policy" value="geolocation=()" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.1.4.0" newVersion="15.1.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <M2M_Redesign.My.MySettings>
      <setting name="M2M_Redesign_sforce_SforceService" serializeAs="String">
        <value>https://epa-methane.my.salesforce.com/services/Soap/c/35.0/0DFG0000000ATtW</value>
      </setting>
      <setting name="M2MTracking_sforce_SforceService" serializeAs="String">
        <value>https://epa-methane.my.salesforce.com/services/Soap/c/35.0/0DFG0000000ATtW</value>
      </setting>
    </M2M_Redesign.My.MySettings>
  </applicationSettings>
</configuration>