@media print {
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
        page-break-after: always;
    }
    .nav-tabs {display:none;}

    .fallbacklink{display:none;}
 }

