/* Methane to Markets */

@import url(common.css);
@import url(nav.css);


/*Calendar**********************************/
#calcontainer {
	width: 100%;
	display:block; 
}

/* tweak for firefox */
#calcontainer * {
	margin-top:0;
}

#calcontainer ul {
	margin-top:4px;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#filter {
	background-color: #2B82AC;
	box-sizing: border-box;
	width: 100%;
	height:45px;
	/*font-family:arial, helvetica, sans-serif;*/
	color:#fff;
	padding-left:13px;
	/*-webkit-border-radius: 8px 8px 0 0 ;
    -moz-border-radius: 8px 8px 0 0 ;
    -ms-border-radius: 8px 8px 0 0 ;
    -o-border-radius: 8px 8px 0 0 ;
    border-radius: 8px 8px 0 0 ;*/
}
#filter form {
	margin:0;
	padding:0;
}

#filter p {
	/*font-size: 24px;*/
	display:inline;
}
#month, #curMonth {
	padding:0px 0;
	position:relative; 
	top:10px;
	color:#fff;
	width:130px;
	float:left;
	text-align:center;
}

#month {
	/*top: 15px;	*/
}											
#monthshide {
	visibility:hidden;
}


#filter p a, #filter #preMon, #filter #nextMon {
	/*font-size:40px;
	font-family:georgia, "times new roman", times, serif;*/
	text-decoration:none;
	color:#fff;
	float:left;
/*	height: 50px;*/
	margin-top: 10px;
}

#filter p a {
	margin: 10px 10px;
    
}
#filter p a:hover {
	color:#006AB6;
}


#filter p#months #month, #filter p#months #preMon, #filter p#months #nextMon{
	float: left;
	display: block;
	height: 30px;
}
#filter p#months #month{
	width: 140px;	
}

#filter select {
	float:left;
	margin:15px 0 0 8px;
	/*font-size:12px;*/
}

#filter #libyear {
	width:56px;
}

#filter #libsector {
	width:90px;
}

#filter #Libtype {
	width:180px;
}

#filter #goButton {
	float:left;
	margin: 6px 8px;
	padding:3px 6px;
	background-color:#FCB040;
    height:25px;
    text-align:center;
    vertical-align:middle;
    border-radius: 18px;
}

#filter a.prevNext 
{
    background-color:#fff;
    border-radius: 18px;
    color:#FCB040;
    text-align:center;
    vertical-align:middle;
    padding: 1px 9px;
    
}

div.tabs {
	padding-top:5px;
}

div.tabs div.tab {
	/*font-size:12px;*/
	font-size:0.9em;
    width:120px;
	list-style:none;
	float:left;
	margin:0px 0 0 0px;
	text-align:center;
	padding: 5px 0;
	color:#fff;
	/*font-weight:bold;*/
}

div.tabs div.tab a {
	color:#fff;
}

div.tabs div.tab:hover, div.tabs div.tab.on, div.tabs div.tab.off, div.tabs div.tab.off:hover {
	/*background:url(/images/bkgd_news_views.gif) 0 0 transparent no-repeat;*/
	width:120px;
	cursor:pointer;
	color:#fff;
}

div.tabs div.tab.off {
	background-image:none;
}

#calBig {
	width: 100%;
	/*background-color: #efefef;*/
	padding-top:10px;
}

#calBig #calHeader {
	/*background-color: #efefef;
    font: bold 14px arial, helvetica, sans-serif;*/
	height: 30px;
	float:left;
}

/*

#calBig #calHeader ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
	
#calBig #calHeader ul li {
	color: #000;
	padding: 10px 0 8px 16px;
	width: 50px;
	text-align: center;
	float: left;
	margin-left:0;
}

*/

#calBig #calHeader {
	padding: 9px 0;
	width:100%;
}

#calBig #calDays ul, #calBig #calHeader ul  {
	margin: 0 0 0 3px !important;
	padding: 0;
	list-style: none;
}

#calBig #calDays ul li, #calBig #calHeader ul li {
	float: left;
	height: 30px;
	vertical-align:middle;
	text-align:center;
	margin: 0;
	width: 14%;
	border:0.5px solid #efefef;
	font-weight:bold;
}
#calBig #calDays ul li 
{
    background: #fff;
    height: 108px;
    font-weight:normal;
}

/*#calBig #calDays ul li.sunday { margin-left: 9px; }
#calBig #calDays ul li.monday { margin-left: 118px; }
#calBig #calDays ul li.tuesday { margin-left: 227px; }
#calBig #calDays ul li.wednesday { margin-left: 336px; }
#calBig #calDays ul li.thursday { margin-left: 445px; }
#calBig #calDays ul li.friday { margin-left: 554px; }
#calBig #calDays ul li.saturday { margin-left: 663px; }*/

#calBig #calDays ul li div, #calBig #calDays li.on div.today, #calBig #calHeader ul li div {
	color: #0c1d4f;
	/*padding: 0px 5px;*/
}

* html #calBig #calDays ul li div, * html #calBig #calHeader ul li div { position: static; }

#calBig #calDays li.data {
	background-color: #fff;
	cursor: pointer;
	padding:0;
	height:35px;
	/*height:78px;*/
}

#calBig.grid #calDays li.on .calDayShort, #calBig.grid #calDays li.today .calDayShort {
	color:#17509d;
}

#calBig #calDays li div.today {
	background: url(/images/bg_calendar.png) 0 0 transparent repeat;
	/*height: 35px;*/
	/*height: 68px;*/
	/*width: 55px;*/
}
	
* html #calBig #calDays li div.today { position: static; }
	
#calBig #calDays li.on div {
	color: #0a0a0a;
}
	
#calBig #calDays li.on div.today {
	cursor: pointer;
	text-align: left;
	border: 3px solid #c7e8f3;
	background-color:#c7e8f3;
	padding:0;
	position:relative; bottom:3px; right:1px;
	height:33px;
}
	
#calBig #calDays li.data .calDayShort {
	display: block;
	text-align:center;
	width:55px;
	/*font:bold 12px arial, helvetica, sans-serif;*/
	padding-top:2px;
	border: 1.5px dotted pink;
}

#calBig #calDays  li, #calBig #calHeader li {
	/*border: 1.5px dotted green;*/
	background-color:#c7e8f3;
}

#calBig #calDays li.data .calDayShort li {
	background-color: transparent;
	height: auto;
	width: auto;
	float: none;
	border: none;
	margin: 0;
	display: none;
	line-height: 1;
	color: #17509d;
}
			
/* on big calendar display only first item */
#calBig #calDays ul.calDayShort li:first-child, #calBig #calDays ul.calDayShort li.first-child {
	display:list-item;
}
			
#calBig #calDays li.data div.calDayData, .eventdetail div.calDayData {
	position:relative;
	padding: 0 !important;
	background-color: #fff;
	border: 3px solid #c7e8f3;
	/*font: bold 11px arial, helvetica, sans-serif;*/
	width: 263px; 
	height: 291px; 
	cursor: default;
	display: none;
	overflow: auto;
	/*position:relative; bottom:-62px;*/
}

.eventdetail div.calDayData {
	display:block;
	width:95%;
	height:auto;
	margin:0 0 7px 10px;
	position:relative; top:11px;
}

li.down div.calDayData { top: -42px; }
* html li.down div.calDayData { top: -72px; }
li.up div.calDayData { top: -303px; }
* html li.up div.calDayData { top: -305px; }
li.left div.calDayData { left: -271px; }
li.right div.calDayData { left: 105px; }

#calBig .calDayData span.close {
	float: right;
	width: auto;
	/*font: 10px verdana, arial, helvetica, sans-serif;*/
	cursor: pointer;
	margin: 6px 4px 0 0;
	display: none;
}
			
#calBig .calDayData h4 {
	margin: 0;
	padding: 5px 0;
	/*font: bold 14px arial, helvetica, sans-serif;*/
	background-color: #c7e8f3;
}

#calBig #calDays li.data div.calDayDetail, .eventdetail .calDayDetail { 
	padding: 5px 8px 3px 8px;
	overflow: auto;
	/*font: 11px arial, helvetica, sans-serif;
	line-height:14px;*/
}

.eventdetail .calDayDetail {
	height:inherit;
}
	
p .sectitle, #calBig #calDays li.data .calDayDetail p .sectitle, .eventdetail .calDayDetail p .sectitle, #caledit .sectitle {
	color:#da5c24;
	font-weight:bold;
}

#calBig #calDays li.data .calDayDetail p .eventtitle, .eventdetail .calDayDetail p .eventtitle, #caledit .eventitle {
	color:#666;
	font-weight:bold;
}

#calBig #calDays li.data .calDayDetail p.lastitem, .eventdetail .calDayDetail p.lastitem, #caledit .lastitem {
	border-bottom: 3px dotted #c7e8f3;
	padding-bottom:20px;
	margin-bottom:20px;
}
	
#calBig .calDayDetail a {
	text-decoration: none;
	padding: 0 0 1px;
	margin: 0 0 3px;
}

.calDayDetail ul li{
    height:auto !important;
}

.calDayDetail ul li:nth-child(odd){
    clear:both;
}

div.calDayDetail > p
{
    clear:both;
}

#calBig.list #calDays ul li.sunday, 
#calBig.list #calDays ul li.monday, 
#calBig.list #calDays ul li.tuesday, 
#calBig.list #calDays ul li.wednesday, 
#calBig.list #calDays ul li.thursday, 
#calBig.list #calDays ul li.friday, 
#calBig.list #calDays ul li.saturday { margin-left: 8px; }
	

#calBig.list #calDays div.today,
#calBig.list #calDays li { /*display: none;*/
                           height:108px; /* KJ 3/29/2017  */ 
                           position:relative;
                           z-index:0;
                           border: 0.5px solid #ffe3c4;}

#calBig.list #calDays li.today,
#calBig.list #calDays div.today 
{background:  url(/images/bg_calendar.png) 0 0 transparent repeat;
}

#calBig.list #calDays li.startdays,
#calBig.list #calDays div.startdays 
{background:  #e0e0e0;
}

#calBig.list #calDays li.weekend,
#calBig.list #calDays div.weekend 
{background:  #FFFFE3;
}

#calBig.list #calDays li.data {
	display: block;
	float: none;
	/*width: 95%;*/
	height: auto;
	margin: 17px auto 0 9px;
}
#calBig.list #calDays li.data div.calDayData {
	display: block;
	float: none;
	width: 100%;
	height: auto;
}

#calBig.list #calDays li.data {
	margin-bottom: 15px;
}

#calBig.list #calDays li.data div.calDayData {
	position: static;
}
	
#calBig.list li.left div.calDayData,
#calBig.list li.down div.calDayData,
#calBig.list li.up div.calDayData,
#calBig.list li.right div.calDayData { top: 0; left: 0;}

#calBig.list #calDays li.data div.calDayDetail {
	height: auto;
}

#annualView {
	padding:40px;
	width: 100%;
	box-sizing:border-box;
	background-color: #fff;
	padding:20px 13px 15px 13px;
	border:7px solid #efefef;
	border-top:none;
	float:left;
}

#annualView p {
	border-bottom:1px solid #ccc;
	padding:4px 7px 20px 0px;
	font-weight:bold;
	clear: both;
	float: left;
	width: 100%;
}

#annualView span {
	display:block;
	float:left;
}

#annualView .avsector {
	/*width:80px;*/
    width:100%;
	color:#da5c24;
    font-weight:normal;
}

#annualView .avdate {
	/*width:120px;*/
    width:100%;
    font-weight:normal;
}

#annualView .avtitle {
	/*width:505px;*/
    width:100%;
}

.eventdetail #eventdetail {
	display:block;
}
/*end Calendar*********************************************/

dl.eventdetail 
{
    height:250px;
    margin-top:10px;
    margin-bottom:35px;
    position:relative;
}
#calendareventlist dl.eventdetail 
{height: 135px;
 margin-bottom:10px;
}

#maincontentarea dd h3 
{padding-top:0;margin-top:0;
}

.thirtythreefloatleft dl dt, #rightcontentarea dl dt 
{width:37%;padding-right:3%;float:left;
}

.thirtythreefloatleft dl dd, #rightcontentarea dl dd
{width: 50%;
 float:left;
}
.thirtythreefloatleft dl dd 
{
    margin-left:3%;
    }

#rightcontentarea dl {
  width: 97%;
  overflow: hidden;
  padding: 0;
  margin: 3%
}
#rightcontentarea dl dt {
  float: left;
  width: 45%;
  padding: 0;
  margin-right: 3%;
}

#rightcontentarea dl dt img {width:150px;border: solid 1px #ccc;}

 #rightcontentarea dl dd {
  float: left;
  width: 52%;
  padding: 0;
  margin: 0
}

.calendarBlock  
{position:absolute;
 left:0;
 top:0;
 z-index:1;
 height: 118px;
 width: 100%;
}


.calendarBlock img 
{overflow:hidden;
}

.dateoverlay 
{position:absolute;
 left:0;
 top:0;
 z-index:99;
 padding: 5px;
 background: url(/images/overlay.png) 0 0 transparent repeat;
 
}

.linktext, .overlaylink
{z-index:99;
 padding: 5px;
 background: url(/images/overlay.png) 0 0 transparent repeat;
}

.linktext 
{position:absolute;
 right:0;bottom:0;
}
.overlaylink 
{position:absolute;
 right:0;bottom:-25px;
}

.calendarrollover
 
{position:absolute;z-index:99;
 opacity: 0;
 padding: 10%;
 height:80%;width:80%;
 background: rgba(0, 0, 0, 0.1);
 overflow:hidden;
 transition: opacity 1s, top 1s, left 1s;
 -webkit-transition: opacity 1s, top 1s, left 1s;
}

.calendarrollover:hover 
{
 opacity: 100;
 top:0;
 left:0;
 background: #fff;
 
 
}

.calNav 
{float: left;
}

.calNav img 
{width:100px;
}
.calNav h4 
{text-align: center;
}

#goButton

