#container {
	width:1200px;
    /*width:90%;
    min-width:1200px;*/
	margin: 0 auto;
	/*padding: 10px 30px;*/
	background:white;
}

#maincontentarea {
	float:left;
	width:60%;
	margin:8px 0 0 0;
	overflow:hidden;
    padding: 10px 30px;
}
/*added 1/16/18 */
#maincontentareaFULL {
    width:95%;
    float:none;
    margin:8px 0 0 0;
	overflow:hidden;
    padding: 10px 30px;
}

html,body{
  font-family:sans-serif;
}
#heroguide{
  width:100%;
  background:grey;
}
#heroLeft{
  width:15%;
  
  float:left;
  height:329px;
}
#heroRight{
  width:85%;
  background:#3092c0;
  float:left;
  padding-top:5px;
}
#heroBox{dd
  width:100%;
  background:red;
}
#heroboxText{
  width:30%;
  float:left;
  margin-left:2%;
  margin-right:2%;
  margin-top:5px;
  margin-bottom:5px;
  color:white;
}
    #heroboxText h3 {
        color:white;
    }

#videoContent{
  width:60%;
  height:360px;
  margin-left:2%;
  margin-right:0px;
  margin-top:22px;
  margin-bottom:5px;
  float:right;
}

.iconbox{
  width:100px;
  height:100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:8px;
  text-align:center;
  background:grey;
}

/*added 1/16/18 */
#maincontentarea .fullwidth 
{width:95%;
}

.fullwidth#maincontentarea {
	width: 95%;
	float: none;	
}

#topsearchbutton:hover {
	background:#fdf09f;
    /*background-image: linear-gradient(to bottom, #fdf09f, #D19226);*/	
}

#maincontentarea #map p {
	padding:8px 10px 0 24px;
	border-top:1px solid #eae9e9;
	border-right:1px solid #eae9e9;
	border-left:1px solid #eae9e9;
	position:relative; bottom:4px;
	background-color:#fff;
}

#maincontentarea #mapbottom {
	background:url(../images/bkgd_home_mapbottom.gif) transparent top left no-repeat;
	width:787px;
	height:4px;
	position:relative; bottom:4px;
}

#maincontentarea ul li {
	margin-left:25px;
}

.sectorimagemain {
	width:73%;
	height:250px;
	margin:10px 1% 2% 0px;
    float:left;
}

.sectorimagemain h1 {
	padding:10px 0 22px 10px;
}
.sectorvideowrap {
	width:25%;
	height:250px;
	margin:10px 0px 0px 0px;
    float:left;
}
#sectorvideoclear {
    clear:both;
}

#sectoragimage {
	background:url(/images/bkgd_sector_ag_banner2.jpg) transparent top left no-repeat;
}
#sectorbioimage {
	background:url(/images/bkgd_sectors_biogas_banner.jpg) transparent top left no-repeat;
}

#sectorcoalimage {
	background:url(/images/bkgd_sector_coal_banner2.jpg) transparent top left no-repeat;
}

#sectorlandimage {
	background:url(/images/bkgd_sector_land_banner2.jpg) transparent top left no-repeat;
}

#sectoroilimage {
	background:url(/images/bkgd_sector_oil_banner2.jpg) transparent top left no-repeat;
}

#sectorwwimage {
	background:url(/images/bkgd_sector_ww_banner3.jpg) transparent top left no-repeat;
	height:263px;
}

#sectorwwimage h1 {
	/*padding:21px 0 22px 29px;*/
    color:#fff;
}

#sectorsteerimage {
	background:url(/images/bkgd_sector_steer_banner2.jpg) transparent top left no-repeat;
}

#rightcontentarea {
	float:right;
	/*width:787px;*/
	width:30%;
	margin:10px 20px;
	padding:5px;
	overflow:hidden;
}


#rightcontentarea h2 {
	/*color:black;*/
	font-size:1.4em;
}

#rightcontentarea ul li {
	margin-left:25px;
}

#rightcontentarea .sectorcountrylist li {
	margin: 0;
	padding: 0;
	list-style:none;	
}

/* logo Details page */
#maincontentarea #logoPic img {
	width: 150px;
}

#rightcontentarea p a#search_Link {
	transition: background 0.3s;
}

#rightcontentarea p a#search_Link:hover {
	background: #B9E5FB;
	border-radius: 3px;	
}

#blogcallout {
    /*float: right;
    width: 25%;
    margin-left: 25px;
    padding: 10px;*/
    float:none;
    width: 100%;
    padding: 10px;
    margin:20px 0px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}


.fiftyfloatleft {
    width:46%;
    padding:0% 4% 0% 0%;
    float:left;
    min-width:300px;
}

.fiftyfloatright {
    width:49%;
    padding:0% 0% 0% 0%;
    float:right;
    min-width:300px;
}
.twentyfivefloatleft {
    width:21%;
    padding:0% 4% 0% 0%;
    float:left;
    min-width:240px;
}

.twentyfloatleft {
    width:15%;
    padding:0% 2% 0% 0%;
    float:left;
    min-width:180px;
}
 

.thirtythreefloatleft {
    width:29%;
    padding:0% 3% 0% 0%;
    float:left;
    min-width:200px;
}
.thirtythreefloatright {
    width:29%;
    padding:0% 3% 0% 0%;
    float:right;
    min-width:200px;
}
.sixtysixfloatleft {
    width:58%;
    padding:0% 3% 0% 0%;
    float:left;
    min-width:400px;
}

.fiftyfloatleft img {
    width:100%;
}

.twentyfivefloatleft img {
    width:100%;
}

.thirtythreefloatleft img {
    width:100%;
}

.homebox {
	border:0px solid #dbdbdb; background:#f3f3f3;width:32%;height:255px;float:left;margin-right:1.5%;margin-bottom:20px;overflow:auto;border-radius:10px;
}

.homeboxright {
	border:1px solid #dbdbdb; background:#f3f3f3;width:32%;height:255px;float:left;margin-bottom:20px;overflow:auto;border-radius:10px;
}
.homeboxtextarea {
	background:#fff;
	border-radius:5px;
	border:1px solid #e1e1e1;
	margin:10px;
}
.homeboxlabel {
	text-align:center;
	font-weight:bold;
	padding:10px 0px;
	color:white;
	background:#43464E;
	/*background-image:url(../images/home_box_background2.png);
	background-repeat:repeat-x;*/
	margin:0px;
	font-size:12pt;
}
.homeboxtext {
	padding:10px;
	line-height:1.2em;
	border-radius:5px;
}

#homeclearboxes {
	display:block;
}

#methanematters {
	/*width:755px;
	height:445px;
	border-radius:10px;*/
}



#topgmilogo {
	float:left;
    /*margin-right:20px;*/
}

#map_canvas {
    width: 82%;
    height: 500px;
    float:left;
    border:1px solid white;
}

.mapiconimage {
    float:right;
}

p.maplegenditem {
    margin:0px 0px 4px 0px;
    padding:0px;
    clear:right;
}

#frm_map {
    width: 15%;
    float:left;
    margin-left:2%;
}

#clearlogoandmenu {display:none;}
#separator {display:none;}

#opensearchoverlayfilter {display:none;} 

#search_form {
	/*margin:0px 0px 0px 0px;
	padding:40px 0px 0px 0px;
	float:right;*/
}

#search_pn_form {
	/*margin:0px 0px 0px 30px;
	padding:60px 0px 0px 0px;*/
	/*float:left;*/
}

#topsearchbutton {
	height:42px;
    margin:0px;
	padding:10px;
    background:#FCB040;
	/*background-image:repeating-linear-gradient(0deg,#FCB040,#FEF8D1);*/
    color:#43464E;
    border:1px solid #ccc;
    cursor:pointer;
    font-weight:bold;

}

#topsearchbutton_pn {
	margin:0px;
	padding:0px;
	top:0px;
}

#searchfield {
background:#f7f7f7;height:38px;padding:0px 10px;margin:0px;width:300px;
}
#searchbutton {
	margin:0px;
	padding:0px;
	float:left;
}

#overlaysearchbutton {
	background:#24A9DC;
	border-radius:10px;
	color:white;
	float:right;
	padding:3px 10px;
}

#banner-social-media {
	/*padding-top:60px;
	float:left;*/
    float:right;
    margin:10px 0px 0px 0px;
}

#social-media-links {
	/*margin: 0px;
	float:left;*/
    display:inline;
}

/* Google translator plugin */
.goog-te-gadget-icon { display: inline; }
/*#google_translate_element { float:left; padding-top:60px; margin-left:15px; height:20px; font-weight:normal; }*/
#google_translate_element { float:left; }
div.skiptranslate  { color: White; }
.goog-logo-link { display: none; }

/*end translation plugin*/

#homeearth {
    /*background-image:url('../images/home_earth1.png');
    height:272px;*/
    background-image:url('../images/home_earth2.png');
    height:200px;

    width:730px;
    margin:0px 0px 10px 0px;
    padding:0px;
    border:1px solid #f3f3f3;
}

#earthlabel { 
    /*padding: 30px 300px 0px 40px;*/
    padding: 45px 220px 0px 20px;
    font-size: 1.5em;
    min-width: 300px;
    font-family: 'Palanquin Dark', 'Pontano Sans', sans-serif;
}




#countrybox-en {
	width:48%;
	float:left;
	margin:0 0 2% 0%;
}

#countrybox-en p {
    padding:10px 10px;
	/*padding:14px 10px 14px 18px;*/
	/*background:#e4f4fd;*/
}


#countrybox-lang {
	background:#e4f4fd;
    width:46%;
	float:right;
	margin:0%;
    margin-bottom:10px;
}

#countrybox-lang p {
    padding:10px 10px;
	/*padding:14px 10px 14px 18px;*/
	/*background:#e4f4fd;*/
}




/* footer navigation styles */
#footernavarea {
	/*border-top:10px solid #007AC3;*/
	/*border-radius:10px;*/
	background-color: #3298C8;
	padding:2%;
	width:96%;
	margin-top:0px;
}

#footernavarea ul {
	margin:0px 0px 20px 20px;
	padding:0px;
}
#footernavarea p {
	color:white;
    margin:0px;
    padding:0px;
}
#footernavarea li {
	color: white;
	padding:0px 0px 3px 0px;
}
#footernavarea a {
	color: white;
	text-decoration: none;
	font-weight: normal;
}
#footernavarea a:hover {
	text-decoration:underline;
}

#footer-countries {
	display:block;float:left;width:38%;
}
#footer-countries a {
	font-size:10pt;
}
#footer-countrieswithflags-col1 {
	float:left;width:45%;
}
#footer-countrieswithflags-col2 {
	float:left;width:45%;
}

#footer-countries-col1 {
	float:left;width:30%;
}
#footer-countries-col2 {
	float:left;width:25%;margin-left:5px;
}
#footer-countries-col3 {
	float:left;width:28%;margin-left:5px;
}
#footer-gmilinks1 {
	float:left;width:22%;margin-left:5px;
}
#footer-gmilinks2 {
	float:left;width:25%;margin-left:5px;
}

#footer-socialmedia {
	margin:20px 0px;
    text-align:center;
}

#footer-socialmedia img {
	border-radius:7px;
	margin:5px;
	border:2px solid #e1e1e1;
}

#footer-socialmedia img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border:2px solid:#43464E; }
.cycle-slideshow { width: 100%; min-width: 200px; max-width: 760px; margin: 0px auto; padding: 0 px; left:-5px; position: relative;
    background:  #f3ff3f3; border:3px solid #f3f3f3; /*border-radius:10px*/; 
 }
.cycle-slideshow img { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: relative; overflow: hidden; background:#43464E; padding:0px; margin:0px;
}
.cycle-pager span { 
    font-size: 30px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #FCB040;}
.cycle-pager > * { cursor: pointer;}

#per-slide-template {
	margin:0px;
	padding:0px;
	text-align:center; 
	z-index:999;
}
#per-slide-template a {
	text-decoration:none;
	margin:0px 10px;
	padding:0px 8px;
	font-size:0.8em;
}
#per-slide-template a:hover {
	background:#e1e1e1;
	color:#000;
}

.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }
.cycle-overlay { 
    position: absolute; width:40%; top: 0; z-index: 600;
    background: #43464E; color: white; padding: 15px; margin:20px; border-radius:10px; line-height:1.2em;
}
.cycle-overlay p { 
    margin:0px; padding:10px 0px; color:white; 
}
.cycle-overlay a { 
    color: white; text-decoration:none; padding:10px; background:#309ACA; font-weight:bold;; 
}
.cycle-overlay a:hover { 
    color: white; text-decoration:none; padding:10px; background:#297DA5; font-weight:bold;; 
}
.cycle-underlay { 
    position: relative; width:100%; top: 0; z-index: 600;
    background: #43464E; color: white; padding: 15px 10px; margin:0px; line-height:1.2em; 
}
.cycle-underlay p { 
    margin:0px; padding:0px; color:white; 
}
.cycle-underlay a { 
    color: white; text-decoration:none; background:#309ACA; font-weight:bold;; 
}
.cycle-underlay a:hover { 
    color: white; text-decoration:none; background:#297DA5; font-weight:bold;; 
}
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}



#announcements {
	/*border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
	padding:10px;
	height:400px;
	overflow:auto;*/
}

#announcements ul {
	margin:0px 0px 20px 20px;
}

#announcements li {
	padding:5px;
}


#twitter-widget-0 {
    margin-top: -13px;     
    height: 700px !important;
}

#tweets-section {
    margin-right: 0px !important;
    padding: 0px !important;
    margin-right: 0% !important;
	padding-right: 0% !important;
	width: 100% !important;
}







.sm{position:relative;z-index:9999;}
.sm,.sm ul,.sm li{display:block;list-style:none;margin:0;padding:0;line-height:normal;direction:ltr;text-align:left;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.sm-rtl,.sm-rtl ul,.sm-rtl li{direction:rtl;text-align:right;}
.sm>li>h1,.sm>li>h2,.sm>li>h3,.sm>li>h4,.sm>li>h5,.sm>li>h6{margin:0;padding:0;}
.sm ul{display:none;}
.sm li,.sm a{position:relative;}
.sm a{display:block;}
.sm a.disabled{cursor:not-allowed;}
.sm:after{content:"\00a0";display:block;height:0;font:0px/0 serif;clear:both;visibility:hidden;overflow:hidden;}
.sm,.sm *,.sm *:before,.sm *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}


.sm-blue {
  background: transparent;
  /*-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}
.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
  padding: 10px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 0px;
  background: #3092c0;
  /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #3298c8), color-stop(100%, #13BBF2));
  background-image: -webkit-linear-gradient(to bottom, #3298c8, #13BBF2);
  background-image: -moz-linear-gradient(to bottom, #3298c8, #13BBF2);
  background-image: -o-linear-gradient(to bottom, #3298c8, #13BBF2);
  background-image: linear-gradient(to bottom, #3298c8, #13BBF2);*/
  color: white;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Pontano+Sans', sans-serif;
  /*font-size: 14px;*/
  font-size:0.85em;
  font-weight: normal;
  line-height: 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.sm-blue a.current {
  background: #006892;
  /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #006188), color-stop(100%, #006f9c));
  background-image: -webkit-linear-gradient(to bottom, #006188, #006f9c);
  background-image: -moz-linear-gradient(to bottom, #006188, #006f9c);
  background-image: -o-linear-gradient(to bottom, #006188, #006f9c);
  background-image: linear-gradient(to bottom, #006188, #006f9c);*/
  color: white;
}
.sm-blue a.disabled {
  color: #a1d1e8;
}
.sm-blue a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;*/
}
.sm-blue a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}
.sm-blue > li:first-child > a, .sm-blue > li:first-child > :not(ul) a {
  /*-webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;*/
}
.sm-blue > li:last-child > a, .sm-blue > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul,
.sm-blue > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul,
.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  /*-webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;*/
}
.sm-blue > li:last-child > a.highlighted, .sm-blue > li:last-child > *:not(ul) a.highlighted,
.sm-blue > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  /*-webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;*/
}
.sm-blue ul {
  background: white;
}
.sm-blue ul ul {
  background: rgba(102, 102, 102, 0.1);
}
.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active {
  background: transparent;
  color: #2b82ac;
  /*font-size: 12px;*/
  font-size:0.9em;
  text-shadow: none;
  border-left: 8px solid transparent;
}
.sm-blue ul a.current {
  background: #006892;
  /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #006188), color-stop(100%, #006f9c));
  background-image: -webkit-linear-gradient(to bottom, #006188, #006f9c);
  background-image: -moz-linear-gradient(to bottom, #006188, #006f9c);
  background-image: -o-linear-gradient(to bottom, #006188, #006f9c);
  background-image: linear-gradient(to bottom, #006188, #006f9c);*/
  color: white;
}
.sm-blue ul a.disabled {
  color: #b3b3b3;
}
.sm-blue ul ul a,
.sm-blue ul ul a:hover,
.sm-blue ul ul a:focus,
.sm-blue ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-blue ul ul ul a,
.sm-blue ul ul ul a:hover,
.sm-blue ul ul ul a:focus,
.sm-blue ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-blue ul ul ul ul a,
.sm-blue ul ul ul ul a:hover,
.sm-blue ul ul ul ul a:focus,
.sm-blue ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-blue ul ul ul ul ul a,
.sm-blue ul ul ul ul ul a:hover,
.sm-blue ul ul ul ul ul a:focus,
.sm-blue ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}
.sm-blue ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-blue ul li:first-child {
  border-top: 0;
}











@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-blue ul {
    position: absolute;
    width: 12em;
  }

  .sm-blue li {
    float: left;
  }

  .sm-blue.sm-rtl li {
    float: right;
  }

  .sm-blue ul li, .sm-blue.sm-rtl ul li, .sm-blue.sm-vertical li {
    float: none;
  }

  .sm-blue a {
    white-space: nowrap;
  }

  .sm-blue ul a, .sm-blue.sm-vertical a {
    white-space: normal;
  }

  .sm-blue .sm-nowrap > li > a, .sm-blue .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-blue {
    background: #3092c0;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #3298c8), color-stop(100%, #13BBF2));
    background-image: -webkit-linear-gradient(to bottom, #3298c8, #13BBF2);
    background-image: -moz-linear-gradient(to bottom, #3298c8, #13BBF2);
    background-image: -o-linear-gradient(to bottom, #3298c8, #13BBF2);
    background-image: linear-gradient(to bottom, #3298c8, #13BBF2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
  }
  .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
    padding: 13px 15px;
    background: #3298c8;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #3298c8), color-stop(100%, #13BBF2));
    background-image: -webkit-linear-gradient(to bottom, #3298c8, #13BBF2);
    background-image: -moz-linear-gradient(to bottom, #3298c8, #13BBF2);
    background-image: -o-linear-gradient(to bottom, #3298c8, #13BBF2);
    background-image: linear-gradient(to bottom, #3298c8, #13BBF2);*/
    color: white;
  }
  .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
    background: #2b82ac;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #2d89b4), color-stop(100%, #297ca3));
    background-image: -webkit-linear-gradient(to bottom, #2d89b4, #297ca3);
    background-image: -moz-linear-gradient(to bottom, #2d89b4, #297ca3);
    background-image: -o-linear-gradient(to bottom, #2d89b4, #297ca3);
    background-image: linear-gradient(to bottom, #2d89b4, #297ca3);*/
  }
  .sm-blue a.current {
    background: #006892;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #006188), color-stop(100%, #006f9c));
    background-image: -webkit-linear-gradient(to bottom, #006188, #006f9c);
    background-image: -moz-linear-gradient(to bottom, #006188, #006f9c);
    background-image: -o-linear-gradient(to bottom, #006188, #006f9c);
    background-image: linear-gradient(to bottom, #006188, #006f9c);*/
    color: white;
  }
  .sm-blue a.disabled {
    background: #3092c0;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #3298c8), color-stop(100%, #2e8cb8));
    background-image: -webkit-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: -moz-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: -o-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: linear-gradient(to bottom, #3298c8, #2e8cb8);*/
    color: #a1d1e8;
  }
  .sm-blue a span.sub-arrow {
    top: auto;
    margin-top: 0;
    bottom: 2px;
    left: 50%;
    margin-left: -5px;
    right: auto;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #a1d1e8 transparent transparent transparent;
    background: transparent;
    /*-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;*/
  }
  .sm-blue a.highlighted span.sub-arrow:before {
    display: none;
  }
  .sm-blue > li:first-child > a, .sm-blue > li:first-child > :not(ul) a {
    /*-webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;*/
  }
  .sm-blue > li:last-child > a, .sm-blue > li:last-child > :not(ul) a {
    /*-webkit-border-radius: 0 8px 8px 0 !important;
    -moz-border-radius: 0 8px 8px 0 !important;
    -ms-border-radius: 0 8px 8px 0 !important;
    -o-border-radius: 0 8px 8px 0 !important;
    border-radius: 0 8px 8px 0 !important;*/
  }
  .sm-blue > li {
    border-left: 1px solid #2b82ac;
  }
  .sm-blue > li:first-child {
    border-left: 0;
  }
  .sm-blue ul {
    border: 1px solid #a8a8a8;
    padding: 7px 0;
    background: #f3f3f3;
    /*-webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);*/
  }
  .sm-blue ul ul {
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;*/
    background: #f3f3f3;
  }
  .sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    border: 0 !important;
    padding: 9px 23px;
    background: transparent;
    color: #2b82ac;
    /*-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;*/
  }

  .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    background: #3092c0;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #3298c8), color-stop(100%, #2e8cb8));
    background-image: -webkit-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: -moz-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: -o-linear-gradient(to bottom, #3298c8, #2e8cb8);
    background-image: linear-gradient(to bottom, #3298c8, #2e8cb8);*/
    color: white;
  }
  .sm-blue ul a.current {
    background: #006892;
    /*background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #006188), color-stop(100%, #006f9c));
    background-image: -webkit-linear-gradient(to bottom, #006188, #006f9c);
    background-image: -moz-linear-gradient(to bottom, #006188, #006f9c);
    background-image: -o-linear-gradient(to bottom, #006188, #006f9c);
    background-image: linear-gradient(to bottom, #006188, #006f9c);*/
    color: white;
  }
  .sm-blue ul a.disabled {
    background: white;
    color: #b3b3b3;
  }
  .sm-blue ul a span.sub-arrow {
    top: 50%;
    margin-top: -5px;
    bottom: auto;
    left: auto;
    margin-left: 0;
    right: 10px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #a1d1e8;
  }
  .sm-blue ul li {
    border: 0;
  }
  .sm-blue span.scroll-up,
  .sm-blue span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }
  .sm-blue span.scroll-up-arrow, .sm-blue span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #2b82ac transparent;
  }
  .sm-blue span.scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #2b82ac transparent transparent transparent;
  }
  .sm-blue.sm-rtl.sm-vertical a span.sub-arrow {
    right: auto;
    left: 10px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #a1d1e8 transparent transparent;
  }
  .sm-blue.sm-rtl > li:first-child > a, .sm-blue.sm-rtl > li:first-child > :not(ul) a {
    /*-webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;*/
  }
  .sm-blue.sm-rtl > li:last-child > a, .sm-blue.sm-rtl > li:last-child > :not(ul) a {
    /*-webkit-border-radius: 8px 0 0 8px !important;
    -moz-border-radius: 8px 0 0 8px !important;
    -ms-border-radius: 8px 0 0 8px !important;
    -o-border-radius: 8px 0 0 8px !important;
    border-radius: 8px 0 0 8px !important;*/
  }
  .sm-blue.sm-rtl > li:first-child {
    border-left: 1px solid #2b82ac;
  }
  .sm-blue.sm-rtl > li:last-child {
    border-left: 0;
  }
  .sm-blue.sm-rtl ul a span.sub-arrow {
    right: auto;
    left: 10px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #a1d1e8 transparent transparent;
  }
  .sm-blue.sm-vertical {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .sm-blue.sm-vertical a {
    padding: 9px 23px;
  }
  .sm-blue.sm-vertical a span.sub-arrow {
    top: 50%;
    margin-top: -5px;
    bottom: auto;
    left: auto;
    margin-left: 0;
    right: 10px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #a1d1e8;
  }
  .sm-blue.sm-vertical > li:first-child > a, .sm-blue.sm-vertical > li:first-child > :not(ul) a {
    /*-webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;*/
  }
  .sm-blue.sm-vertical > li:last-child > a, .sm-blue.sm-vertical > li:last-child > :not(ul) a {
    /*-webkit-border-radius: 0 0 8px 8px !important;
    -moz-border-radius: 0 0 8px 8px !important;
    -ms-border-radius: 0 0 8px 8px !important;
    -o-border-radius: 0 0 8px 8px !important;
    border-radius: 0 0 8px 8px !important;*/
  }
  .sm-blue.sm-vertical > li {
    border-left: 0 !important;
  }
  .sm-blue.sm-vertical ul {
    /*-webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    border-radius: 4px !important;*/
  }
  .sm-blue.sm-vertical ul a {
    padding: 9px 23px;
  }
}


.mousoverbox {
	border:0px solid #dbdbdb; background:#f3f3f3;width:32%;float:left;margin-right:1%;margin-bottom:20px;overflow:auto;/*border-radius:10px;*/
}
.mousoverboxright {
	border:0px solid #dbdbdb; background:#f3f3f3;width:31%;float:left;margin-bottom:20px;overflow:auto;/*border-radius:10px;*/
}

.mousoverboxtextarea {
	background:#fff;
	/*border-radius:5px;*/
	border:1px solid #e1e1e1;
	margin:10px;
	display:none;
}
.mousoverboxlabel {
	text-align:center;
	font-weight:bold;
	padding:10px 0px;
	color:white;
	background:#43464E;
	/*background-image:url(../images/home_box_background2.png);
	background-repeat:repeat-x;*/
	margin:0px;
	font-size:10pt;
}
.mousoverboxtext {
	padding:10px;
	line-height:1.2em;
	/*border-radius:5px;*/
}









#openoverlay {
	display:none;
}  

#opensearchoverlay {
	display:none;
}  

.closebtn {
    display:none;
}

/*
        <link rel="stylesheet" href="styles/desktoplayout.css" type="text/css" media="only screen and (min-width:1080px)" />
        <link rel="stylesheet" href="styles/handheldlayout.css" media="only screen and (max-width:1079px)" />
        <link rel="stylesheet" href="styles/mobilelayout.css" type="text/css" media="only screen and (max-device-width:480px)" />
*/

.iframeMap{
    width:100%;
    height:500px;
}

.container::before, .container::after {
    content:"";
    display:table;
}
.container::after {
    clear:both;
}
.container {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#helpbox {
    background-image:url('../images/search-balloon.jpg');
    background-repeat:no-repeat;
    padding:2% 2% 2% 20%;
    width:78%;
    border-bottom:1px solid silver;
}

#maincontentarea .eventdetail dl, #maincontentarea dl.sitedetail , #maincontentarea .activitydetail dl, #maincontentarea .eventdetail dt img , #maincontentarea .sitedetail dt img
{width:100%;
}

#maincontentarea .eventdetail dt
{
    float:left;width:30%;
}
#maincontentarea dl.sitedetail dt, #maincontentarea .activitydetail dt
{
    float:left;width:35%;
    font-weight:bold;
    text-align:right;
    padding:4px 7px 2px 4px;

}
#maincontentarea dl.sitedetail dt.title, #maincontentarea .activitydetail dt.title
{
    width:100%;
    text-align:left;


}

#maincontentarea .eventdetail dd 
{
    float:left;width:60%;max-height:250px; overflow:hidden;
}

#maincontentarea .imgcontainer {
    position:absolute;
    width:60%;


}

#maincontentarea .imgcontainer .imgoverlay {
    width:25%;
    z-index:99;
    position:absolute; 
    top:10px;left:10px;

}

#maincontentarea .imgcontainer .imgbackground {
    width:100%;
    z-index:1;
    position:absolute; 
    top:0;left:0;

}
#maincontentarea dl.sitedetail dd , #maincontentarea .activitydetail dd 
{
    float:left;width:53%;
    min-height: 43px;
    padding:4px 7px 2px 4px;
}
#rightcontentarea .activitylistinfo {


}
#rightcontentarea .activitylistinfo div.tablabel {
  background-color: #inherit;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  width: 12%;

}
#rightcontentarea .activitylistinfo div.faketab {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 25%;

}
#rightcontentarea .activitylistinfo div.faketab:hover {
 background-color: #ddd;
}

#rightcontentarea .activitylistinfo div.faketab a:active {
 background-color: #ccc;
}

.featuredbox{
    width:100%;
    height:300px;
}

.iconPanel{
    width:100%;
    text-align:center;
    float:left;

 }

.featurePanel{
    width:100%;
    background:#EBF6FB; /*#344D54 #17509D #3092c0*/
    height:auto;
    float:right;
    margin:0px;
    padding-bottom:0px;
}

.responsiveiconbox{
    display:none;
}


.featureText{
    width:45%;
    float:left;
    color:black;
    margin-left:20px;
}
.featurePanel h2{
    color:#17509D;
    margin-left:0px;
}
.featureMedia{
    width:50%;
    float:right;
    margin-left:20px;

}

.videoWrapper 
{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe 
{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}